@import "mixins";

/*Глобальные стили*/

body{
  @include fluid-text (14, 15);

  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  height: 100%;
}

a,
button,
input,
textarea,
svg *{
  transition-duration: var(--transition-duration);
}

a{
  text-decoration: none;
  color: inherit; /*наследуется от родителя*/
}
